.header-container{
  background-color: #004A80;
}

.content-center{
  width: 65%;
  margin: 0 auto;
  /* background-color: red; */
}

.content-center-footer{
  width: 75%;
  margin: 0 auto;
}

.body-container{
  background-image: linear-gradient(#E6E6E6, #FFFFFF);
}

.footer-container{
  background-color: #FFFFFF;
}

.text-yellow-color{
  color: #F6BC25;
}

.solid-yellow-color{
  background-color: #F6BC25;
}

.solid-blue-color{
  background-color: #004A80;
}

.text-blue-color{
  color: #004A80;
}

.text-gray-color{
  color: #999999
}


.text-white-color{
  color: white;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.inside-circle-text{
  position: relative;
  top: 30%;
  right: -40%;
}


* {font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica";}

.title-text{
  font-size: 3.25em;
  letter-spacing: 0;
  text-align: center;
}

.bold-text{
  font-weight: bold;
}


#sub-title{
  text-align: center;
  font-size: 1.5em;
}

.company-Logo{
  width: 10.8125em;
  height: 1.91em;
}

.search-Logo{
  width: 1.4375em;
  height: 1.5625em;
}

.person-Logo{
  width: 1.4375em;
  height: 1.4375em;
}

.together{
  display: flex;
}

.align-right-content{
  display: flex;
  justify-content: space-between;
}

.align-left-content{
  display: flex;
  justify-content: flex-start;
}

.align-between-content{
  display: flex;
  justify-content: space-between;
}

#move-down{
  padding-top: 1%;
}

#left-space{
  margin-right: 40%;
}

.input-text{
  background: #FFFFFF;
  box-shadow: inset 0 -1px 4px 0 rgba(0,0,0,0.20);
  border-radius: 0.1875em;
  border-radius: 0.1875em;
  height: 4em;

}


.width-total{
  width: 100%;
}

#width-90{
  width: 79%;
}

#width-10{
  width: 19%;
  font-size: 1.5em;
  color: #004A80;
  letter-spacing: 0.0625em;
  text-align: center;
}

#go-text{
  letter-spacing: 1px;
  text-align: center;
  font-size: 2em;
}

.align-center-content{
  display: flex;
  justify-content: center;
}

.gradient-yellow-color{
  background-image: linear-gradient(225deg, #F2DA56 0%, #F6BC25 100%);
  box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
  border-radius: 6px;
  border-radius: 6px;
}

#text-description{
  width: 95%;
  font-size: 1.375em;
  color: #4A4A4A;
  letter-spacing: 0;
  display: flex;
  justify-content: center;
}

#text-footer{
  width: 80%;
  font-size: 0.9375em;
}

#text-footer-link{
  font-size: 0.875em;
}
